
<div class='container'>
  <div class='row'>
    <div class='col-md-4 left'>
      <h3>Work | Mind Bloggoling</h3>
      <div class='features'>
        <h4>Basic features:</h4>
        <p>Email authentication</p>
        <p>Create, edit and delete blog posts</p>
        <p>Find posts by categories</p>
        <p>Find posts by user</p>
      </div>
    </div>
    <div class='col-md-8 right1'>
      <div class='brush1'>
        <h4>A blog site with user contributed invented words to fill the hole in the English language</h4>
        <h4><a href="https://blogger-rails-kc.herokuapp.com/">More</a></h4>
      </div>
    </div>
  </div>
</div>

<br>
<br>

<div class='container'>
  <div class='row'>
    <div class='col-md-4 left'>
      <h3>Work | Social Trading </h3>
      <div class='features'>
        <h4>Basic features:</h4>
        <p>Authentication via Devise Gem</p>
        <p>Lookup stocks and track prices</p>
        <p>Add stocks using AJAX</p>
        <p>Find, add, and follow friends</p>
      </div>
    </div>
    <div class='col-md-8 right2'>
      <div class='brush2'>
        <h4>A social stock trading network </h4>
        <h4><a href="https://cho-finance-tracking.herokuapp.com/">More</a></h4>
      </div>
    </div>
  </div>
</div>

<style>

  .left {
    height: 400px;
    text-align: center;
    padding-top: 5%;
    padding-left: 5%;
    padding-right: 5%;
    background-color: white;
  }

  .features {
    border: 5px solid yellow;
    }

  a {
    color: yellow;
  }


  .right1 {
    height: 400px;
    text-align: center;
    padding-top: 5%;
    padding-right: 15%;
    padding-left: 15%;
    background-image: url('http://all-that-is-interesting.com/wordpress/wp-content/uploads/2012/01/the-son-of-man.jpg');
    background-size: cover;
    color: white;
  }

  .right2 {
    height: 400px;
    text-align: center;
    padding-top: 5%;
    padding-right: 15%;
    padding-left: 15%;
    background-image: url('https://www.supermoney.com/wp-content/uploads/2014/12/photodune-1550482-stock-market-price-abstract-xs-1.jpg');
    background-size: cover;
    color: white;
  }


  .brush1 {
    background-image: url('http://4.bp.blogspot.com/-39Smm-bVP3c/VaakQxPeC8I/AAAAAAAAJv8/_3puGGS1RyI/s1600/Brush_Stroke_RGB.png');
    background-size: cover;
    padding: 10px;
  }

  .brush2 {
    background-image: url('http://4.bp.blogspot.com/-39Smm-bVP3c/VaakQxPeC8I/AAAAAAAAJv8/_3puGGS1RyI/s1600/Brush_Stroke_RGB.png');
    background-size: cover;
    padding: 20px;
  }

</style>
